<% if !user_signed_in? %>
<div class="jumbotron">
	<h1>Review The News</h1>
	<p>Give your opinion on the quality and truthfulness of news articles and stories. You decide if it really is fake news!</p>
	<p><%= link_to "Sign up to submit a news story for review, rate and comment", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% else %>
<div class="jumbotron">
	<h1>gubgook. Review The News.</h1>
	<p>scroll down to see the most recent news articles submitted for review</p>

</div>
<% end %>



<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br> </h2>
      <h3>
        <small class="publisher" >Publisher: <%= link.publisher %></small>
        </h3>
        <h4>
      <small class="writer">Writer: <%= link.writer %></small>
      </h4>
      <h5>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
    </h5>

    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
      <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= link.get_downvotes.size %>
      <% end %>
    </div>
  </div>
<% end %>
