


<h2>Search Results</h2>


<div class="link row clearfix">
    <% if @found_links.empty? %>
<h4> No results found.</h4>
<% end %>	
</div>

<% @found_links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br> </h2>
      <h3>
        <small class="category" >Category: <%= link.category.name %></small>
        </h3>
      <h3>
        <small class="publisher" >Publisher: <%= link.publisher %></small>
        </h3>
        <h4>
      <small class="writer">Writer: <%= link.writer %></small>
      </h4>
      <h5>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %></small>
    </h5>
    <h5 class="comments_title">
  <%= link.comments.count %> Comments
</h5>

    <div class="btn-group">
      
      <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= link.get_downvotes.size %>
      <% end %>
    </div>
  </div>
<% end %>